{% extends "base.html" %}

{% block content %}
  {% include 'nav.html' %}
  
  {% set video_path = 'images/Hero video.mp4' %}
  {% set heading = 'ABOUT ME' %}
  {% set arrow_path = 'images/my work arrow.png' %}
  {% include 'hero_section.html' %}

  <section class="about-us">
    <div class="about-left">
      <div class="logotitle">
        <span class="logo-icon">*</span>
        <h1>MY BACKGROUND</h1>
      </div>
      <p>
        I started my journey into programming in a non-traditional way. I graduated from secondary school in 2016 and went straight into retail. I had been working part-time as a cleaner since I was 16, and by the age of 19, I worked my way up to a manager position, which I held for four years. I earned my first degree in Animation from Griffith College, then completed a second degree in Graphic Design, where I transitioned into UX/UI design.
        <br /><br />
        I then landed my first job as a designer and gradually worked my way up to project manager, a title I currently hold till this day.
      </p>
    </div>
    <div class="about-right">
      <img src="{{ url_for('static', filename='images/about 1.png') }}" alt="About Us Image" class="about-image" />
    </div>
  </section>

  <section class="quote">
    <img class="quote-overlay" src="{{ url_for('static', filename='images/quaote image.png') }}" alt="quote image">
    <div class="my-quote">
      <img class="quote-icon" src="{{ url_for('static', filename='images/about q.png') }}" alt="Quote Icon">
      <h1 class="quote-text">
       One of my favourite quotes that really inspired me on my journey is: "Those who say they can, and those who say they can't, are usually both right."
    </div>
  </section>

  <section class="fixed-section">
    <img src="{{ url_for('static', filename='images/fixed image.jpg') }}" />
  </section>

  <section class="about-us">
    <div class="about-right">
      <img src="{{ url_for('static', filename='images/about 2.png') }}" alt="About Us Image" class="about-image" />
    </div>
    <div class="about-left">
      <div class="logotitle">
        <span class="logo-icon">*</span>
        <h1>MY FUTURE</h1>
      </div>
      <p>
        I’ve always had great ideas that I wanted to bring to life. I don’t view programming as just software—I see it as a new form of self-expression. I think it’s amazing that I, as one person, can imagine something and then create it digitally—whether it’s an app, a website, a backend system, or even something for TVs or computers. In this digital age, every screen is my canvas, which, in my eyes, is incredibly liberating as a creative developer.
        <br /><br />
        With every line of code, I bring ideas to life and push the boundaries of creativity. As a passionate developer, I see the digital world not just as technology but as art.


      </p>
    </div>
  </section>

  {% include 'footer.html' %}
{% endblock %}
