<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Welcome to my portfolio! I’m a passionate and multi-disciplinary designer and developer specializing in UX/UI, front-end, and backend technologies. With a strong foundation in creating engaging animations, intuitive user experiences, and dynamic digital content, I craft seamless and impactful solutions from concept to code. Explore my work to see how I combine creativity and technical skills to bring ideas to life." />
    <meta name="keywords" content="UX/UI design, front-end and backend development, animation, responsive design, content creation, API integration, prototyping, and scalable web solutions." />
    <meta name="author" content="Alex Shanley" />

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}" /> 

    <title>Portfolio</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
     
  </head>
  <body>

    {% block content %}
    {% endblock %}

    <div id="My-work-cursor"></div>
    <div id="Blog-cursor"></div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
