{% extends "base.html" %}


  
{% block content %}

{% include 'nav.html'%}

  {% set video_path = 'images/Hero video.mp4' %}
  {% set heading = 'CONTACT' %}
  {% set arrow_path = 'images/my work arrow.png' %}

  {% include 'hero_section.html' %}

   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="contact-us">
  <div class="about-content">
    <div class="contact-left">
      <div class="logotitle">
        <span class="logo-icon">*</span>
        <h1>CONTACT ME</h1>
      </div>
      <br>
      <p>
Thinking about building an app or website? Need a highly skilled front-end developer, graphic designer, animator, or UX/UI expert? You’re in the right place.
<br>
I combine design and development to deliver clean, creative, and user-focused digital experiences all in one package. No matter the size of your project, I’ve got the skills to bring it to life.
<br>
<br>
      </p>
Let’s connect and make it happen.

      </p>
      

<ul class="contact-info">
  <li><a href="tel:+0821234567"><i class="fas fa-phone"></i> (082) 1234 567</a></li>
  <li><a href="mailto:info@headline.com"><i class="fas fa-envelope"></i> info@alexshanley.com</a></li>
  <li><a><i class="fas fa-map-marker-alt"></i> Dublin, Ireland</a></li>
</ul>


    </div>

    <div class="cs-form">
      <form>
        <div class="form-row">
          <input type="text" class="form" placeholder="First Name">
          <input type="text" class="form" placeholder="Last Name">
        </div>
        <div class="form-row">
          <input type="email" class="form" placeholder="E-mail">
          <input type="text" class="form" placeholder="Phone">
        </div>
        <textarea rows="5" placeholder="Message" class="form"></textarea>
        <input type="submit" class="cs-btn" value="Send message">
      </form>
    </div>
  </div>
</section>

  <!--Map start-->
<div class="map">
    
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9487.586165093215!2d-6.18109970889469!3d53.52390455745991!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486719b6f94ce103%3A0x2600c7a819bab3a1!2sLusk%2C%20Co.%20Dublin!5e0!3m2!1sen!2sie!4v1749840845894!5m2!1sen!2sie" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="map"></iframe>
</div>

    <script src="script.js"></script>
  </body>
</html>

<!--Map start-->




  {% include 'footer.html'%}

  {% endblock %}