{% extends "base.html" %}


  
{% block content %}

{% include 'nav.html'%}

  {% set video_path = 'images/Hero video.mp4' %}
  {% set heading = 'CONTACT' %}
  {% set arrow_path = 'images/my work arrow.png' %}

  {% include 'hero_section.html' %}

   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="about-us">
  <div class="about-content">
    <div class="about-left">
      <div class="logotitle">
        <span class="logo-icon">*</span>
        <h1>CONTACT ME</h1>
      </div>
      <p>
        I've always had a deep love for music both the classics and the new. Growing up with a father in a band, I have vivid memories of him taking me to concerts across Ireland, and it was there that I truly fell in love with music in all its forms. As I got older, I knew I wanted to share that same passion with others. That's how Headline was born — a place where people can discover new jams and classic hits, all in one spot, just as I experienced it.
      </p>
      

<ul class="contact-info">
  <li><a href="tel:+0821234567"><i class="fas fa-phone"></i> (082) 1234 567</a></li>
  <li><a href="mailto:info@headline.com"><i class="fas fa-envelope"></i> info@headline.com</a></li>
  <li><a><i class="fas fa-map-marker-alt"></i> Dublin, Ireland</a></li>
</ul>


    </div>

    <div class="cs-form">
      <form>
        <div class="form-row">
          <input type="text" class="form" placeholder="First Name">
          <input type="text" class="form" placeholder="Last Name">
        </div>
        <div class="form-row">
          <input type="email" class="form" placeholder="E-mail">
          <input type="text" class="form" placeholder="Phone">
        </div>
        <textarea rows="5" placeholder="Message" class="form"></textarea>
        <input type="submit" class="cs-btn" value="Send message">
      </form>
    </div>
  </div>
</section>



  {% include 'footer.html'%}

  {% endblock %}