

<footer class="footer">
    <div class="footer-container">
        <div class="footer-row">
              <div class="footer-colum">
                <img src="{{ url_for('static', filename='images/footer logo.png') }}" alt="Logo">
            </div>
            <div class="footer-colum">
                <h4>STORES</h4>
                <ul>
                    <li><a href="#">Dublin store <br><br> 42 Liffey View Street, Dublin 2, D02 XH78<br><br> 09:00 am – 17:00 pm Daily</a></li>
                </ul>
            </div>
            <div class="footer-colum">
                <h4>CONTACT US</h4>
                <ul>
                    <li><a href="tel:+0821234567"><i class="fas fa-phone"></i> (082) 1234 567</a></li>
                    <li><a href="mailto:info@headline.com"><i class="fas fa-envelope"></i> info@gentleman.com</a></li>
                    <li><a><i class="fas fa-map-marker-alt"></i> Dublin, Ireland</a></li>
                </ul>
            </div>
            <div class="footer-colum">
                <h4>CONTACT ME</h4>
                <form action="">
                    <input type="email" placeholder="Enter your email" class="input-email">
                    <input type="Submit" value="Get in touch" class="input-submit">
                </form>
            </div>
        </div>
    </div>
  </footer>
  <div class="Copyright">
    <div class="copyright-text">Copyright © 2025 The Gentleman Designed by Alex Shanley️</div>
  </div>
  