<section class="My-skills">
    <div class="skillbox">
      <div class="skill-icon">
        <img src="{{ url_for('static', filename='images/Graphic design icon.png') }}" alt="Graphic Design Icon" />
      </div>
          <h2>Graphic Design</h2>
    <p>
      I am a passionate and multi-disciplinary Graphic Designer with a strong foundation in UX/UI design, animation, and content creation.
    </p>
    <span class="number">01</span>
  </div>

  <div class="skillbox">
    <div class="skill-icon">
      <img src="{{ url_for('static', filename='images/UX:UI Design icon.png') }}" alt="UX/UI Design Icon" />
    </div>
    <h2>UX/UI Design</h2>
    <p>
      I am a driven and versatile UX/UI designer with expertise in graphic design, animation, and creating compelling digital content experiences.
    </p>
    <span class="number">02</span>
  </div>

  <div class="skillbox">
    <div class="skill-icon">
      <img src="{{ url_for('static', filename='images/Frontend developer icon.png') }}" alt="Frontend Developer Icon" />
    </div>
    <h2>Frontend Developer</h2>
    <p>
     I am a dedicated and versatile Front-End Developer with solid skills in UX/UI, animation, coding, and building dynamic user interfaces.
    </p>
    <span class="number">03</span>
  </div>

  <div class="skillbox">
    <div class="skill-icon">
      <img src="{{ url_for('static', filename='images/Backend developer icon.png') }}" alt="Backend Developer Icon" />
    </div>
    <h2>Backend Developer</h2>
    <p>
      I am a versatile Backend Developer skilled in server-side programming, database management, API design, and building scalable systems.
    </p>
    <span class="number">04</span>
  </div>
  
    <div class="skillbox">
      <div class="skill-icon">
        <img src="{{ url_for('static', filename='images/Animation icon.png') }}" alt="Animation Icon" />
      </div>
      <h2>Animation</h2>
      <p>
        With a deep passion for animation, I specialize in crafting captivating visual narratives through motion graphics.
      </p>
      <span class="number">05</span>
    </div>
  
    <div class="skillbox">
      <div class="skill-icon">
        <img src="{{ url_for('static', filename='images/Content creation icon.png') }}" alt="Content Creation Icon" />
      </div>
      <h2>Content Creation</h2>
      <p>
        I am a passionate and multi-disciplinary Graphic Designer with a strong foundation in UX/UI design, animation, and content creation.
      </p>
      <span class="number">06</span>
    </div>
  
    <div class="skillbox">
      <div class="skill-icon">
        <img src="{{ url_for('static', filename='images/Branding icon.png') }}" alt="Branding Icon" />
      </div>
      <h2>Branding</h2>
      <p>
        I am a strategic and imaginative branding expert focused on crafting cohesive identities, emotional connections, and impactful brand presence.
      </p>
      <span class="number">07</span>
    </div>
  
    <div class="skillbox">
      <div class="skill-icon">
        <img src="{{ url_for('static', filename='images/Problem solving icon.png') }}" alt="Problem Solving Icon" />
      </div>
      <h2>Problem Solving</h2>
      <p>
        I am a passionate and multi-disciplinary Graphic Designer with a strong foundation in UX/UI design, animation, and content creation.
      </p>
      <span class="number">08</span>
    </div>
  

  </section>
  