<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="The Gentleman offers luxury menswear, combining timeless elegance, bespoke tailoring, and sophisticated style for the modern man." />
    <meta name="keywords" content="Luxury menswear, timeless elegance, bespoke tailoring, and sophisticated style for the modern gentleman." />
    <meta name="author" content="Alex Shanley" />
    <link rel="icon" type="image/png" href="Images/Favicon_.png" />
    <title>Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>
  <body>



        {% extends "base.html" %}


  
        {% block content %}
        
        {% include 'nav.html'%}
        
          {% set video_path = 'images/Hero video.mp4' %}
          {% set heading = 'SKILLS' %}
          {% set arrow_path = 'images/my work arrow.png' %}
        
          {% include 'hero_section.html' %}

          {% include 'myskills.html' %}
        
          <section class="myblog">
            <div class="blogheader">
              <div class="logotitle">
                <span class="logo-icon">*</span>
                <h1>MY BLOG</h1>
              </div>
              <p class="blogtxt">
                I am a passionate and multi-disciplinary Graphic Designer with a strong foundation in UX/UI design, animation, and content creation.
              </p>
            </div>
          
            <div class="blogposts">
              <article class="article">
                <img src="{{ url_for('static', filename='images/coffee and code 2.png') }}" alt="Blog Image" />
                <div class="postdetails">
                  <span class="postdate">24 MAY 2025</span>
                  <h2>Code & Coffee: My Journey as a Developer</h2>
                  <p class="author">By Alex Shanley</p>
                </div>
              </article>
          
              <article class="article">
                <img src="{{ url_for('static', filename='images/coding.png') }}" alt="Blog Image" />
                <div class="postdetails">
                  <span class="postdate">24 MAY 2025</span>
                  <h2>One Line at a Time: My Path Into Programming</h2>
                  <p class="author">By Alex Shanley</p>
                </div>
              </article>
            </div>
          </section>
        
          {% include 'footer.html'%}




        
          {% endblock %}



    <div id="My-work-cursor"></div>
    <div id="Blog-cursor"></div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>

